<h1> Students Details</h1>
<nav class = "navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <%= link_to 'Edit', edit_user_registration_path, class: "navbar-brand" %>
    <%= link_to 'Book List', books_path, class: "navbar-brand" %>
    <%= link_to 'History', my_history_students_path, class: "navbar-brand" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-brand" %>
    <%= link_to "Back", :back, class: "navbar-brand" %>
    </div>
</nav>
    <p><strong>Name:</strong><%= current_user.name %></p>
    <p><strong>Role:</strong><%= current_user.role %></p>
    <p><strong>Phone Number:</strong><%= current_user.phone_number%></p>
    <% @bookdue = BookDue.where(student_id: current_user.id).sum(:fine) %>
    <strong>your fine is <%= @bookdue %></strong><br>
