<%= form_with model: user do |form| %>

    <div>
        <%= form.label :name%>
        <%= form.text_field :name%><br>
        <%= form.label :role%>
        <%= form.select :role, User.roles.keys%><br>
        <%= form.label :phone_number%>
        <%= form.text_field :phone_number%>

    </div>
    <%= form.submit %>
    <% end %>