<h1>New user</h1>
<%= form_with model: @user do |form| %>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
            <p><%= message%></p>
        <% end %>
    <% end %>
<div>
    <%= form.label :name%>
    <%= form.text_field :name%><br>
    <%= form.label :role%>
    <%= form.text_field :role%><br>
    <%= form.label :phone_number%>
    <%= form.text_field :phone_number%>
</div>
<%= form.submit %>
<%= link_to 'back', users_path %>
<% end %>