<h1>Book details</h1>

<p><strong>name:</strong><%= @book.name%></p>
<p><strong>library_id:</strong><%= @book.library_id%></p>
<p><strong>language:</strong><%= @book.language%></p>
<p><strong>author:</strong><%= @book.author%></p>
<br/>
<b>
<% if @book_issue_request == nil %>
  <% if @book.issued_to_id ==  current_user.id %>
      <%= 'alredy you have it' %>
      <%= link_to 'return', return_book_book_path %>
  <% else %>
    <%= link_to 'checkout', checkout_book_path %>
  <% end %>
<% else %>
  <%= 'Book is already requested by you' %>
<% end %>
</b>