<h1>Book Details</h1>
<% if current_user.librarian? %>
  <td><%= link_to 'new book', new_book_path %></td>
<% end %>
<%= form_tag(books_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search books" %>
  <%= submit_tag "Search" %> 
<% end %>
<table>
  <thead>
    <tr>
      <%# <th>Library_id</th> %>
      <th>Books name</th>
      <th>Author</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <%# <td><%= book.library_id</td> %>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.language %></td>
        <td><%= link_to 'Show', book_path(book)%> </td>
        <% if current_user.librarian? %>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
          <td><%= link_to "Destroy", book_path(book.id), method: "DELETE" %></td>         
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
