<div class ="container">
<h1>New Book</h1>
<%=  @book.errors.messages %>
<%= form_with model: @book do |form| %>
  <div >
     <div class="col-md-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control"%><br>
    <%= form.label :author %>
    <%= form.text_field :author, class: "form-control" %><br>
    <%= form.label :language %>
    <%= form.text_field :language, class: "form-control" %><br>
    </div>
    <%= form.submit :Create, class: "btn btn-primary"%>
  </div>
<% end %>

<%= form_with url: '/books/upload', method: :post, local: true, multipart: true do |form| %>
  <%= form.file_field :excel_file %>
  <%= form.submit 'Upload' %>
<% end %>
</div>