<h1>Book details</h1>
    <p><strong>name:</strong><%= @book.name%></p>
    <p><strong>library_id:</strong><%= @book.library_id%></p>
    <p><strong>language:</strong><%= @book.language%></p>
    <p><strong>author:</strong><%= @book.author%></p>
    <% if current_user.librarian? %>
        <p><strong>issued to:</strong><%= @book.issued_to_id%></p>
        <p><strong>author:</strong><%= @book.issued_to_at %></p>
        <p><strong>author:</strong><%= @book.issued_from_at%></p>
        
        <%= link_to 'edit', edit_book_path %>
        <%= link_to "Back", :back %>
    <% else %>
        <b>
        <% if @book_issue_request == nil %>
            <% if @book.issued_to_id ==  current_user.id %>
                <%= 'alredy you have it' %>
                <%= link_to 'request_for _return', book_issue_request_book_path %>
            <% else %>
                <%= link_to 'request_for issue', book_issue_request_book_path %>
            <% end %>
        <% else %>
            <%= 'Book is already requested by you' %>
        <% end %>
        </b>
    <% end %>
